<template name="topicPage">
  <div class="topic-page page">
    {{#each types}}
        <div class="form-group">
          <label class="control-label" for="{{name}}">{{label}}</label>
          <div class="controls">
              <!-- <input name="{{name}}" id="{{name}}" type="{{type}}" value={{value ../data}} placeholder="{{label}}" class="form-control"/> -->
              -- <span>{{value ../data}}</span>
              <span class="help-block"></span>
          </div>
        </div>
    {{/each}}
  </div>
</template>