<template name="topicListItem">
  <div class="topic" id="{{_id}}">
    <!-- <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a> -->
    <div class="topic-content">
      <h3><a href="{{pathFor 'topicPage'}}">{{title}}</a><span>{{domain}}</span></h3>
      <p>{{timestamp2datetime begin}} ~ {{timestamp2datetime end}}</p>
      <p>分类：{{catalog}}</p>
      <p>真相值：{{price}} {{#if isOpen}}<a class="changePrice" href="#">Change</a>{{/if}}</p>
      <p>标签：{{tags}}</p>
      <p>状态：{{status}}</p>
      <!-- operations -->
      <p>
        <a class="remove" href="">Remove</a>
        {{#if isOpen}}{{> closeButtons}}{{/if}}
        <a href="{{pathFor 'topicEdit'}}">Edit</a>
      </p>
    </div>
  </div>
</template>

<template name="closeButtons">
  <div class="dropdown" style="display:inline-block;">
    <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
      Close
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li role="presentation">
        <a role="menuitem" class="topic-close" href="#">-100 {{negTag}}</a>
      </li>
      <li role="presentation">
        <a role="menuitem" class="topic-close" href="#">+100 {{posTag}}</a>
      </li>
    </ul>
  </div>
</template>