<template name="topicCreate">
  <form class="main form page">
  <!-- {{> imageView}} -->
    {{#each images}}
      <div>
        <a href="{{this.url}}" target="_blank"><img src="{{this.url}}" alt="" class="thumbnail" /></a>
      </div>
    {{/each}}
    {{> imageUpload}}
    {{#each types}}
    <div class="form-group">
      <label class="control-label" for="{{name}}">{{label}}</label>
      <div class="controls">
          <input name="{{name}}" id="{{name}}" type="{{type}}" value="" placeholder="{{label}}" class="form-control"/>
          <span class="help-block"></span>
      </div>
    </div>
    {{/each}}
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>